[submodule "mod/questionnaire"]
	path = mod/questionnaire
	url = https://github.com/PoetOS/moodle-mod_questionnaire.git
	branch = MOODLE_311_STABLE
[submodule "blocks/admin_presets"]
	path = blocks/admin_presets
	url = https://github.com/DigiDago/moodle-block_admin_presets.git
	branch = MOODLE_311_STABLE
[submodule "theme/classic_unitec_std"]
	path = theme/classic_unitec_std
	url = https://github.com/malinz/moodle-theme_classic_unitec_std.git
	branch = master
[submodule "local/boostnavigation"]
	path = local/boostnavigation
	url = https://github.com/moodleuulm/moodle-local_boostnavigation.git
	branch = MOODLE_311_STABLE
[submodule "local/adminer"]
	path = local/adminer
	url = https://github.com/grabs/moodle-local_adminer.git
	branch = MOODLE_39_STABLE
[submodule "theme/boost_unitec_std"]
	path = theme/boost_unitec_std
	url = https://github.com/malinz/moodle-theme_boost_unitec_std.git
	branch = master
[submodule "theme/classic_var_01"]
	path = theme/classic_var_01
	url = https://github.com/malinz/moodle-theme_classic_var_01
	branch = master
[submodule "mod/attendanceregister"]
	path = mod/attendanceregister
	url = https://github.com/CinecaElearning/moodle-mod_attendanceregister.git
	branch = master
[submodule "mod/checklist"]
	path = mod/checklist
	url = https://github.com/davosmith/moodle-checklist.git
	branch = master
[submodule "mod/hotpot"]
	path = mod/hotpot
	url = https://github.com/gbateson/moodle-mod_hotpot.git
	branch = master
[submodule "mod/turnitintooltwo"]
	path = mod/turnitintooltwo
	url = https://github.com/turnitin/moodle-mod_turnitintooltwo.git
	branch = master
[submodule "theme/boost_var_01"]
	path = theme/boost_var_01
	url = https://github.com/malinz/moodle-theme_boost_var_01.git
	branch = master
[submodule "blocks/carousel"]
	path = blocks/carousel
	url = https://github.com/malinz/moodle-block_carousel
	branch = master
[submodule "blocks/checklist"]
	path = blocks/checklist
	url = https://github.com/davosmith/moodle-block_checklist.git
	branch = master
[submodule "blocks/configurable_reports"]
	path = blocks/configurable_reports
	url = https://github.com/jleyva/moodle-block_configurablereports.git
	branch = MOODLE_36_STABLE
[submodule "blocks/course_contents"]
	path = blocks/course_contents
	url = https://github.com/mudrd8mz/moodle-block_course_contents.git
	branch = master
[submodule "blocks/grade_me"]
	path = blocks/grade_me
	url = https://github.com/remotelearner/moodle-block_grade_me.git
	branch = MOODLE_311_STABLE
[submodule "blocks/unitec_teacher_team"]
	path = blocks/unitec_teacher_team
	url = https://github.com/malinz/moodle-block_unitec_teacher_team
	branch = master
[submodule "filter/echo360"]
	path = filter/echo360
	url = https://github.com/malinz/moodle-filter_echo360-1.0.26
	branch = master
[submodule "lib/editor/atto/plugins/echo360attoplugin"]
	path = lib/editor/atto/plugins/echo360attoplugin
	url = https://github.com/malinz/moodle-atto_echo360attoplugin-1.0.26
	branch = master
[submodule "lib/editor/atto/plugins/fullscreen"]
	path = lib/editor/atto/plugins/fullscreen
	url = https://github.com/dthies/moodle-atto_fullscreen.git
	branch = master
[submodule "lib/editor/atto/plugins/htmlplus"]
	path = lib/editor/atto/plugins/htmlplus
	url = https://github.com/andrewnicols/moodle-atto_htmlplus.git
	branch = master
[submodule "lib/editor/atto/plugins/morebackcolors"]
	path = lib/editor/atto/plugins/morebackcolors
	url = https://github.com/ndunand/moodle-atto_morebackcolors.git
	branch = master
[submodule "lib/editor/atto/plugins/morefontcolors"]
	path = lib/editor/atto/plugins/morefontcolors
	url = https://github.com/ndunand/moodle-atto_morefontcolors.git
	branch = master
[submodule "auth/saml2"]
	path = auth/saml2
	url = https://github.com/catalyst/moodle-auth_saml2.git
	branch = MOODLE_39_STABLE
[submodule "admin/tool/bulk_backupandrestore"]
	path = admin/tool/bulk_backupandrestore
	url = https://github.com/emezav/bulk_backupandrestore.git
	branch = master
[submodule "admin/tool/deletecourses"]
	path = admin/tool/deletecourses
	url = https://github.com/LafColITS/moodle-tool_deletecourses.git
	branch = main
[submodule "admin/tool/mergeusers"]
	path = admin/tool/mergeusers
	url = https://github.com/ndunand/moodle-tool_mergeusers.git
	branch = master
[submodule "admin/tool/uploadcoursecategory"]
	path = admin/tool/uploadcoursecategory
	url = https://github.com/piersharding/moodle-tool_uploadcoursecategory.git
	branch = master
[submodule "report/assign"]
	path = report/assign
	url = https://github.com/thepurpleblob/moodle-report_assign.git
	branch = master
[submodule "report/coursesize"]
	path = report/coursesize
	url = https://github.com/catalyst/moodle-report_coursesize.git
	branch = MOODLE_39_STABLE
[submodule "grade/export/checklist"]
	path = grade/export/checklist
	url = https://github.com/davosmith/moodle-grade_checklist.git
	branch = master
[submodule "plagiarism/turnitin"]
	path = plagiarism/turnitin
	url = https://github.com/turnitin/moodle-plagiarism_turnitin.git
	branch = master
[submodule "course/format/grid"]
	path = course/format/grid
	url = https://github.com/gjb2048/moodle-format_grid.git
	branch = master
[submodule "course/format/multitopic"]
	path = course/format/multitopic
	url = https://github.com/james-cnz/moodle-format_multitopic
	branch = master
[submodule "course/format/onetopic"]
	path = course/format/onetopic
	url = https://github.com/davidherney/moodle-format_onetopic.git
	branch = master
[submodule "theme/boost_app_bus"]
	path = theme/boost_app_bus
	url = https://github.com/malinz/moodle-theme_boost_app_bus.git
	branch = master
[submodule "theme/boost_arch"]
	path = theme/boost_arch
	url = https://github.com/malinz/moodle-theme_boost_arch.git
	branch = master
[submodule "theme/boost_bdgpnt"]
	path = theme/boost_bdgpnt
	url = https://github.com/malinz/moodle-theme_boost_bdgpnt.git
	branch = master
[submodule "theme/boost_bld_const"]
	path = theme/boost_bld_const
	url = https://github.com/malinz/moodle-theme_boost_bld_const.git
	branch = master
[submodule "theme/boost_comm_stud"]
	path = theme/boost_comm_stud
	url = https://github.com/malinz/moodle-theme_boost_comm_stud.git
	branch = master
[submodule "theme/boost_comp_it"]
	path = theme/boost_comp_it
	url = https://github.com/malinz/moodle-theme_boost_comp_it.git
	branch = master
[submodule "theme/boost_crtv_ind"]
	path = theme/boost_crtv_ind
	url = https://github.com/malinz/moodle-theme_boost_crtv_ind.git
	branch = master
[submodule "theme/boost_eng_app_tech"]
	path = theme/boost_eng_app_tech
	url = https://github.com/malinz/moodle-theme_boost_eng_app_tech.git
	branch = master
[submodule "theme/boost_env_ani_sci"]
	path = theme/boost_env_ani_sci
	url = https://github.com/malinz/moodle-theme_boost_env_ani_sci.git
	branch = master
[submodule "theme/boost_hawkins"]
	path = theme/boost_hawkins
	url = https://github.com/malinz/moodle-theme_boost_hawkins.git
	branch = master
[submodule "theme/boost_health"]
	path = theme/boost_health
	url = https://github.com/malinz/moodle-theme_boost_health.git
	branch = master
[submodule "theme/boost_police"]
	path = theme/boost_police
	url = https://github.com/malinz/moodle-theme_boost_police.git
	branch = master
[submodule "theme/boost_soc_prac"]
	path = theme/boost_soc_prac
	url = https://github.com/malinz/moodle-theme_boost_soc_prac.git
	branch = master
[submodule "theme/boost_swift"]
	path = theme/boost_swift
	url = https://github.com/malinz/moodle-theme_boost_swift.git
	branch = master
[submodule "theme/boost_tpa"]
	path = theme/boost_tpa
	url = https://github.com/malinz/moodle-theme_boost_tpa.git
	branch = master
[submodule "theme/boost_trds_serv"]
	path = theme/boost_trds_serv
	url = https://github.com/malinz/moodle-theme_boost_trds_serv.git
	branch = master
[submodule "question/type/coderunner"]
	path = question/type/coderunner
	url = https://github.com/trampgeek/moodle-qtype_coderunner.git
	branch = master
[submodule "question/behaviour/adaptive_adapted_for_coderunner"]
	path = question/behaviour/adaptive_adapted_for_coderunner
	url = https://github.com/trampgeek/moodle-qbehaviour_adaptive_adapted_for_coderunner.git
	branch = master
